*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box !important;
}

.navbar-brand{
    font-size: 2rem;
}

/* customflex section */
.flex{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-inline: auto;
    margin-block: 40px;
    gap: 0px;
   
}
.flex-img{
    width: 25em;
    height: auto;
    padding: 25px;
}


/* css grid section */
.custom-css-grid{
    display: grid;
    width: 82vw;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 150px 150px 300px;
    grid-template-areas: "a1 a1 a2 a3 a4 a4"
                         "a1 a1 a5 a6 a7 a7"
                        " a8 a8 a9 a9 a9 a9";
    gap: 10px;
    margin-inline: auto;
}


box-grid>img{
 height: 100%;
 width: 100%;
}

.box-grid{
    overflow: hidden;
    object-fit: cover;
}



.box-1{
   
    grid-area: a1;
   
}
.box-2{
   
    grid-area: a2;
}
.box-3 {
 
    grid-area: a3;
}
.box-4{
  
    grid-area: a4;
}

.box-5 {
  
    grid-area: a5;
  
}
.box-6 {
  
    grid-area: a6;
  
}
.box-7{
  
    grid-area: a7;
}
.box-8{
  
    grid-area: a8;
    
}
.box-9{
 
    grid-area: a9;
}


/* card-section */

.card-section{
    width: 80vw;
    margin-inline: auto;
}

.card-btn{
    transition: all 0.8s ease;
}
.card-btn:hover{
    box-shadow: 2px 2px 2px gray;
}

.card-media{
    margin-top: 1.5rem;
}


/* link-section */

.link-section{
    width: 80vw;
    margin-inline: auto;
    margin-block: 10px;
}
.link-div >ul{
  list-style: none;
  list-style-position: outside;
  margin-left: -30px;
}

#phone{
    line-height: 2.6rem;
}

/* copyright section */


.copyright-section{
        width: 80vw;
        margin-inline: auto;
}